<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l3"></div>
      <div class="center-align col l6 s12">
        <h5 class="white-text">AROUND THE WEB</h5>
         <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/stefding" target=_blank class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/stefding/" target=_blank class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://github.com/stefanieding" target=_blank class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stefanieding" target=_blank class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
            </li>   
        </ul>
        <p>Greater New York City Area</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    Copyright © 2016 Stefanie Ding
    </div>
  </div>
</footer>