<section>
  <h2>About</h2>

  <div class="container left-align">

     <p>When deciding her career path, Stefanie was at a crossroad. She was going to choose either computer science or animation; the latter prevailed and she went on to attend Rochester Institute of Technology and received her degree in 2013 in Film & Animation. After graduating, Stefanie has held many positions in the creative field. In the fall of 2014, Stefanie was offered a 2D Animator position at Dunnamic, a small animation studio in Langhorne, PA, where she had interned previously. Within four months Stefanie was promoted to Senior Animator and worked there for about a year, creating marketing and educational videos for Johnson & Johnson, Chase Bank, University of Pennsylvania, and more.</p>

    <p>Following the closing of Dunnamic in the fall of 2015, Stefanie found a job as a substitute teacher and eventually some positions as a freelance artist. Re-evaluating her career, Stefanie sought to challenge herself and re-explore the path not taken. Thus, enrolled in a 24-Week Coding Bootcamp at Rutgers University. Nearly finished with the program, Stefanie likes the challenge and logic that comes with coding. She wants to continue to grow as a developer and keep on learning whatever and whenever she can!</p>

  </div>

</section>  