<section class="align-center">
  <img class="profilePic" src="assets/images/profile-pic.png" alt="Stefanie Ding">
  <h2>STEFANIE DING</h2>
  <h5> Web Developer - Animator - Designer </h5>
</section>  